<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
    <title>Cartelera</title>
</head>
<body>

  <header>
    <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
    <div class="titulo">Stark Cinemas</div>
    <nav id="barra_menu">
    
      <div class="ulMovil">
        <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
        <ul class='ulM'>
            <li class='ulLi'><a href="/">INICIO</a></li>
            <li class='ulLi'><a href="/consultar">CARTELERA</a></li>
            <li class='ulLi'><a href="/nosotros">NOSOTROS</a></li>
            <li class='ulLi'><a href="/contactos">CONTÁCTENOS</a></li>
            <li class='ulLi'><a href="/sesion">INICIA SESIÓN</a></li>
            <li class='ulLi'><a href="/registrar">REGISTRATE</a></li>
        </ul>
      </div>
     </nav>
     <div class="redes">
       <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
        <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
     </div>
 
</header>
   

    <div class="contenidoBody">
        <h2 style="color:rgb(5, 12, 114)">CARTELERA</h2>
        <hr>
        <h1>{{usuario}}</h1>
        <hr>
        {%- for pelicula in peliculas %}
        <div class="pelicula">
            <a href="{{url_for('pelicula',id=pelicula.id,usuario=usuario,cerrarSesion=cerrarSesion)}}"><img class="imagen_pelicula"   src="../static/imagenes/{{pelicula.nombre_imagen}}"></a>
        <section class="seccion">
           <label class="datoPelicula1">Titulo:</label>
           <label class="datoPelicula2">{{ pelicula.titulo}}</label><br>
           <label class="datoPelicula1">Fecha:</label>
           <label class="datoPelicula2">{{ pelicula.fecha}}</label><br>
           <label class="datoPelicula1">Genero:</label>
           <label class="datoPelicula2">{{ pelicula.genero}}</label><br>
           <label class="datoPelicula1">Publico:</label>
           <label class="datoPelicula2">{{ pelicula.publico}}</label><br>		
        </section>
        </div>
        {%- endfor %}
    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4

        </p> 
    </footer>
    
   <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
   <script type="text/javascript" src="../static/js/menu_movil.js"></script>
</body>
</html>