<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <title>Eliminar</title>
</head>
<body>

    <header>
        <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
        <nav id="barra_menu">
        
          <div class="ulMovil">
            <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
            <ul class='ulM'>
                <li><a href="/">INICIO</a></li>
                <li><a href="/consultar">CARTELERA</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/contactos">CONTÁCTENOS</a></li>
                <li><a href="/sesion">INICIA SESIÓN</a></li>
                <li><a href="/registrar">REGISTRATE</a></li>
                <li><a href="/panel_admin">ADMIN</a></li>
            </ul>
          </div>
         </nav>
    </header>

    <div class="bodyContactenos">
        <h2>ELIMINAR CONTACTO</h2>
        <hr>
        {%- for usuario in usuarios %}
       <form class="formulario" method="post" enctype="multipart/form-data">
        <label class="label_formulario">PELICULA</label><br>
        <input class="input_formulario" readonly name="pelicula" value="{{usuario.pelicula}}"><br><br>
        <label class="label_formulario">USUARIO</label><br>
        <input class="input_formulario" readonly name="nombre_usuario"  value="{{usuario.nombre_usuario}}"><br><br>
        <label class="label_formulario">COMENTARIO</label><br>
        <textarea class="area3" readonly  name="comentario" placeholder="ESCRIBE TU COMENTARIO" >{{usuario.comentario}}</textarea><br>
        <label class="label_formulario">PUNTUACIÓN</label><br>
        <input class="input_formulario" readonly name="puntuacion"  value="{{usuario.puntuación}}"><br><br>
        <input type="submit" class="boton_enviar" name="comentario_eliminar" value="Eliminar">  
        
       </form>
       {%- endfor %}
    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    
</body>
</html>