<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <title>Eliminar</title>
</head>
<body>
  <div class="EscritorioPaginasWeb">
    <header>
        <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
        <nav id="barra_menu">
        
          <div class="ulMovil">
            <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
            <ul class='ulM'>
                <li><a href="/">INICIO</a></li>
                <li><a href="/consultar">CARTELERA</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/contactos">CONTÁCTENOS</a></li>
                <li><a href="/sesion">INICIA SESIÓN</a></li>
                <li><a href="/registrar">REGISTRATE</a></li>
                <li><a href="/panel_admin">ADMIN</a></li>
            </ul>
          </div>
         </nav>
    </header>
    
    <div class="bodyContactenos">
        <h2>ELIMINAR CONTACTO</h2>
        <hr>
        {%- for usuario in usuarios %}
       <form class="formulario" method="post" enctype="multipart/form-data">
        <label class="label_formulario">NOMBRES Y APELLIDOS*</label><br>
        <input class="input_formulario" name="nombres" value="{{usuario.nombres}}" onkeypress="return soloLetras(event)" required><br><br>
        <label class="label_formulario">NÚMERO DE DOCUMENTO*</label><br>
        <input class="input_formulario" name="cedula"  value="{{usuario.cedula}}" onkeypress="return soloNumeros(event)" required><br><br>
        <label class="label_formulario">CORREO ELECTRONICO*</label><br>
        <input type="email" class="input_formulario" name="correo"  value="{{usuario.correo}}" required><br><br>
        <label class="label_formulario">TELÉFONO</label><br>
        <input class="input_formulario" name="telefono"  value="{{usuario.telefono}}" onkeypress="return soloNumeros(event)" required><br><br>
        <textarea class="area3"  name="comentario" placeholder="ESCRIBE TU COMENTARIO" required >{{usuario.motivo}}</textarea><br>
        <input type="submit" class="boton_enviar" name="contacto_eliminar" value="Eliminar">  
        
       </form>
       {%- endfor %}
    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    </div>
    <div class="MovilPaginasWeb" >
      No disponible para dispositivos moviles, para visualizar debes ingresar desde un computador
    </div>
</body>
</html>