<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <title>Stark Cinemas</title>
</head>
<body>

    <div class="contenido_principal">

    <header>
        <div class="titulo">Stark Cinemas</div>
        <nav id="barra_menu">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/consultar">CARTELERA</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/contactos">CONTÁCTENOS</a></li>
                <li><a href="/sesion">INICIA SESIÓN</a></li>
                <li><a href="/registrar">REGISTRATE</a></li>
            </ul>
         </nav>
         <div class="redes">
           <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
            <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
         </div>
     
    </header>
   

    <div class="contenidoBody">
        
        {%- for pelicula in peliculas %}
        <div class="pelicula">
            <a href="{{url_for('pelicula',id=pelicula.id,usuario=usuario)}}"><img class="imagen_pelicula"   src="../static/imagenes/{{pelicula.nombre_imagen}}"></a>
        </div>
        {%- endfor %}
    </div>

 

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
          <a href="/contactos"> <img class="imagen_contactos" src="../static/img/contactos.png"></a> 

        </p> 
    </footer>
    </div>
    <div class="contenido_movil" style="text-align: center;">
        <h3>Esta página por el momento no está disponible para equipos moviles</h3>
        <h3>Por favor visualizar en un computador</h3>
    
    </div>
</body>
</html>