<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../static/aos/aos.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/estilos.css">
  <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
  <link rel="stylesheet" type="text/css" href="../static/bootstrap-5.3.0-dist/css/bootstrap.min.css">
  </link>
 
  <title>Stark Cinemas</title>
</head>

<body>


  <div class="EscritorioIndex">
    <header class="headerPrincipal">
      <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
      <div class="tituloPrincipal"><a href="/" style="text-decoration: none; color:white">Stark Cinemas</a></div>
      <nav id="barra_menu">

        <div class="ulMovil">
          <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png"></div>
          <ul class='ulM'>
            <li class='ulLiIndex'><a href="/">INICIO</a></li>
            <li class='ulLiIndex'><a href="/consultar">CARTELERA</a></li>
            <li class='ulLiIndex'><a href="/nosotros">NOSOTROS</a></li>
            <li class='ulLiIndex'><a href="/contactos">CONTÁCTENOS</a></li>
            <li class='ulLiIndex'><a href="/sesion">INICIA SESIÓN</a></li>
            <li class='ulLiIndex'><a href="/registrar">REGISTRATE</a></li>
          </ul>
        </div>
      </nav>
      <div class="redes">
        <a href="https://www.facebook.com/" target="_blank"><img id="facebook" src="../static/img/facebook.png"></a>
        <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
      </div>

    </header>


    <div class="contenidoPrincipal">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../static/imagenes/PrimeraPortadaCine.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../static/imagenes/SegundaPortadaCine.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="tituloIndex" style="color:rgb(5, 12, 114)">Películas en Cartelera</div>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-3">
                      <img src="../static/imagenes/1pelicula2.png" class="d-block w-100" alt="Imagen 4">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/2pelicula5.png" class="d-block w-100" alt="Imagen 5">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/4pelicula8.png" class="d-block w-100" alt="Imagen 6">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/1pelicula6.jpg" class="d-block w-100" alt="Imagen 6">
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="row">
                    <div class="col-3">
                      <img src="../static/imagenes/4pelicula9.jpg" class="d-block w-100" alt="Imagen 4">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/2pelicula5.png" class="d-block w-100" alt="Imagen 5">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/5pelicula1.png" class="d-block w-100" alt="Imagen 6">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/1pelicula7.jpg" class="d-block w-100" alt="Imagen 6">
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center" style="margin-top: 50px;" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <div class="row align-items-center ">
          <div class="col-4 " style="margin: 0px auto;">
            <img src="../static/imagenes/gafas.jpg" class="d-block w-100" alt="Imagen 4" >
          </div>
          <div class="col-8 col-md-6"
            style=" text-align: left; font-size: 25px; color: rgb(5, 12, 114); font-weight: bold; font-family: 'Times New Roman', Times, serif; font-style: italic;">
            Tenemos la más innovadoras Super Gafas 3D,<br>
            que te hará más realista cada una de nuestras funciones
          </div>
        </div>
      </div>

      <div class="tituloIndex" style="color:rgb(5, 12, 114)">Proximamente en cine</div>

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div id="carouselProximamente" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-3">
                      <img src="../static/imagenes/marioBros.jpg" class="d-block w-100" alt="Imagen 4">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/guardianes.jpg" class="d-block w-100" alt="Imagen 5">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/flash.jpeg" class="d-block w-100" alt="Imagen 6">
                    </div>
                    <div class="col-3">
                      <img src="../static/imagenes/rapidosFuriosos10.jpg" class="d-block w-100" alt="Imagen 6">
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselProximamente"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterior</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselProximamente"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="container text-center" style="margin-top: 50px;">
        <div class="row align-items-center" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="3000" >
          <div class="col-8 col-md-6"
            style=" text-align: right; font-size: 25px; color: rgb(5, 12, 114); font-weight: bold; font-family: 'Times New Roman', Times, serif; font-style: italic;">
            Tenemos una gran variedad de confitería, que hará que tu paladar disfrute de nuestras funciones diarias
          </div>
          <div class="col-4 " style="margin: 0px auto;">
            <img src="../static/imagenes/crispeta.jpg" class="d-block w-100" alt="Imagen 4">
          </div>
          <div class="col-4" style="margin: 0px auto;">
            <img src="../static/imagenes/sillaCine.jpg" class="d-block w-100" alt="Imagen 4">
          </div>
          <div class="col-8 col-md-6"
            style=" text-align: left; font-size: 25px; color:  rgb(5, 12, 114); font-weight: bold; font-family: 'Times New Roman', Times, serif; font-style: italic;">
            Nuestras salas de cine te haran sentir como si estuvieras dentro de la pelicula
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="MovilIndex">
    <header>
      <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
      <div class="tituloMovilIndex"><a href="/" style="text-decoration: none; color:white">Stark Cinemas</a></div>
      <nav id="barra_menu">
      
        <div class="ulMovilIndex">
          <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
          <ul class='ulMmovil'>
              <li class='ulLiMovilIndex'><a href="/">INICIO</a></li>
              <li class='ulLiMovilIndex'><a href="/consultar">CARTELERA</a></li>
              <li class='ulLiMovilIndex'><a href="/nosotros">NOSOTROS</a></li>
              <li class='ulLiMovilIndex'><a href="/contactos">CONTÁCTENOS</a></li>
              <li class='ulLiMovilIndex'><a href="/sesion">INICIA SESIÓN</a></li>
              <li class='ulLiMovilIndex'><a href="/registrar">REGISTRATE</a></li>
          </ul>
        </div>
       </nav>
       <div class="redes">
         <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
          <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
       </div>
   
  </header>
  <div class="tituloIndex" style="color:rgb(5, 12, 114); font-size: 20px; width: 70%; margin-top: -30px;">Películas en Cartelera</div>

  <div class="card" style="width: 80%; margin: 0px auto; height:auto;" data-aos="fade-right">
    <img src="../static/imagenes//4pelicula9.jpg" style=" width: 100% ; height: 290px" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/consultar" class="btn btn-primary">Ver más Carteleras</a>
    </div>
  </div>

  <div class="tituloIndex" style="color:rgb(5, 12, 114); font-size: 20px; width: 70%;;">Proximamente en cine</div>

  <div class="card" style="width: 80%; margin: 0px auto; height:auto;" data-aos="fade-right">
    <img src="../static/imagenes/guardianes.jpg" style=" width: 100% ; height: 290px" class="card-img-top" alt="...">
    <div class="card-body">
      <a href="/consultar" class="btn btn-primary">Ver más Carteleras</a>
    </div>
  </div><br>
 


  <div class="card" style="width: 80%; margin-top: 20px; margin: 0px auto; height:auto;" data-aos="fade-right">
    <img src="../static/imagenes/gafas.jpg"  class="card-img-top" alt="...">
    <div class="card-body" style="color:rgb(5, 12, 114); font-weight: bold;">
      <p class="card-text">Tenemos la más innovadoras Super Gafas 3D,
        que te hará más realista cada una de nuestras funciones</p>
    </div>
  </div><br>




  <div class="card" style="width: 80%; margin: 0px auto; height:auto;" data-aos="fade-right">
    <img src="../static/imagenes/crispeta.jpg"  class="card-img-top" alt="...">
    <div class="card-body" style="color:rgb(5, 12, 114); font-weight: bold;">
      <p class="card-text">Tenemos una gran variedad de confitería, que hará que tu paladar disfrute de nuestras funciones diarias</p>
    </div>
  </div><br>



  <div class="card" style="width: 80%; margin: 0px auto; height:auto;" data-aos="fade-right">
    <img src="../static/imagenes/sillaCine.jpg"  class="card-img-top" alt="...">
    <div class="card-body" style="color:rgb(5, 12, 114); font-weight: bold;">
      <p class="card-text">Nuestras salas de cine te haran sentir como si estuvieras dentro de la pelicula</p>
    </div>
  </div>

  </div>


  <footer>
    <p class="contenido_piePagina">Contenido del sitio 2022© <br>
      Derechos Reservados Stark Cinemas® <br>
      Desarrollado por Min Tic Grupo 4<br>
    </p>
  </footer>
  <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../static/js/menu_movil_index.js"></script>
  <script type="text/javascript" src="../static/bootstrap-5.3.0-dist/js/bootstrap.bundle.min.js"></script>
  <script src="../static/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>

</html>