<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <link href="../static/aos/aos.css" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>
<body>

  <header>
    <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
    <div class="titulo"><a href="/" style="text-decoration: none; color:white">Stark Cinemas</a></div>
    <nav id="barra_menu">
    
      <div class="ulMovil">
        <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
        <ul class='ulM'>
            <li class='ulLi'><a href="/">INICIO</a></li>
            <li class='ulLi'><a href="/consultar">CARTELERA</a></li>
            <li class='ulLi'><a href="/nosotros">NOSOTROS</a></li>
            <li class='ulLi'><a href="/contactos">CONTÁCTENOS</a></li>
            <li class='ulLi'><a href="/sesion">INICIA SESIÓN</a></li>
            <li class='ulLi'><a href="/registrar">REGISTRATE</a></li>
        </ul>
      </div>
     </nav>
     <div class="redes">
       <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
        <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
     </div>
 
</header>
   

    <div class="bodyInicioSesion" data-aos="flip-left">
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class=flashes>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}
       <form class="formulario_iniciar" method="post" >
        <label class="label_formulario">USUARIO:</label><br>
        <input class="input_formulario" name="usuario" onkeypress="return soloLetras(event)" required><br><br>
        <label class="label_formulario">CONTRASEÑA:</label><br>
        <input type="password" class="input_formulario" name="clave" required><br><br>
        <label class="label_formulario" >TIPO USUARIO</label><br>
            <select class="seleccion" name="tipo_usuario">
                <option>USUARIO</option>
                <option>ADMINISTRADOR</option>
                <option>SUPERADMINISTRADOR</option>
            </select><br><br>

        <input type="submit" class="boton_enviar_sesion" name="ingresar" value="ENVIAR">
        <div class="opciones_sesion">
            <div class="label_sesion"><a href="/recuperacion">Recordar contraseña</a></div>
            <div class="label_registrate"><a href="/registrar">Registrate</a></div><br>
        </div>
       </form>



    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/menu_movil.js"></script>
    <script src="../static/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>