<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css">
    <link href="../static/aos/aos.css" rel="stylesheet">
    <title>Nosotros</title>
</head>
<body>

  <header>
    <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
    <div class="titulo">Stark Cinemas</div>
    <nav id="barra_menu">
    
      <div class="ulMovil">
        <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
        <ul class='ulM'>
            <li class='ulLi'><a href="/">INICIO</a></li>
            <li class='ulLi'><a href="/consultar">CARTELERA</a></li>
            <li class='ulLi'><a href="/nosotros">NOSOTROS</a></li>
            <li class='ulLi'><a href="/contactos">CONTÁCTENOS</a></li>
            <li class='ulLi'><a href="/sesion">INICIA SESIÓN</a></li>
            <li class='ulLi'><a href="/registrar">REGISTRATE</a></li>
        </ul>
      </div>
     </nav>
     <div class="redes">
       <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
        <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
     </div>
 
</header>
   

    <div class="contenidoNosotros" data-aos="fade-up" data-aos-duration="3000">
        
      <div class="div_nosotros">
        <h1 class="h1"> Quienes Somos</h1>
        <p class="parrafo_nosotros">
           Somos una compañia con la base del deseo de servir y mejorar la calidad de vida de los colombianos, nos dimos a la tarea de averiguar cuáles eran las necesidades que tenían,en lo referente al entretenimiento sano:

           Stark Cinemas quiere brindar el mejor contenido de peliculas que se encuentren a nivel naconal como a nivel internacional para que los colombianos puedan disfrutar de un buen espectaculo 
        </p>
      </div>

      <div class="div_nosotros">
        <h1  class="h1">Misión</h1>
        <p class="parrafo_nosotros">
            Brindar diversión y entretenimiento sanos, mediante la distribución y exhibición de películas y la prestación de servicios complementarios, obteniendo una rentabilidad adecuada que permita mantener un ambiente de desarrollo favorable y continuo para nuestros trabajadores, resultados para los accionistas y de impacto en el mejoramiento de las comunidades donde operamos.
        </p>
      </div>

      <div class="div_nosotros">
        <h1  class="h1">Visión</h1>
        <p class="parrafo_nosotros">
            Ser continuamente reconocidos como la empresa de entretenimiento más importante de Colombia y una de las mejores en servicio y tecnología en Latinoamérica.   
        </p>
      </div>


    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/menu_movil.js"></script>
    <script src="../static/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>