<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <title>Registrate</title>
</head>
<body>

    <header>
        <div class="titulo">Recuperación de contraseña</div>
        <nav id="barra_menu">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/consultar">CARTELERA</a></li>
                <li><a href="/nosotros">NOSOTROS</a></li>
                <li><a href="/contactos">CONTÁCTENOS</a></li>
                <li><a href="/sesion">INICIA SESIÓN</a></li>
                <li><a href="/registrar">REGISTRATE</a></li>
            </ul>
         </nav>
         <div class="redes">
            <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
             <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
          </div>
     
    </header>
   

    <div class="bodyContactenos">
        <h2>RECUPERACIÓN DE CONTRASEÑA</h2>
        <hr>

        <label class="label_formulario">SU VALIDACIÓN FUÉ EXITOSA</label><br><br><br><br>

       <form class="formulario" method="post" >
        <label class="label_formulario">NUEVA CONTRASEÑA</label><br>
        <input type="password" class="input_formulario" name="nuevaContraseña" required><br><br>
        <input type="submit" class="boton_enviar" name="boton_nueva_contraseña" value="ENVIAR"> 
    </form>
        </div>

        
        
      

    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
          <a href="/contactos"> <img class="imagen_contactos" src="../static/img/contactos.png"></a> 
        </p> 
    </footer>
    
</body>
</html>