<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <title>Registrate</title>
</head>
<body>

    <header>
        <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
        <div class="titulo">Stark Cinemas</div>
        <nav id="barra_menu">
        
          <div class="ulMovil">
            <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
            <ul class='ulM'>
                <li class='ulLi'><a href="/">INICIO</a></li>
                <li class='ulLi'><a href="/consultar">CARTELERA</a></li>
                <li class='ulLi'><a href="/nosotros">NOSOTROS</a></li>
                <li class='ulLi'><a href="/contactos">CONTÁCTENOS</a></li>
                <li class='ulLi'><a href="/sesion">INICIA SESIÓN</a></li>
                <li class='ulLi'><a href="/registrar">REGISTRATE</a></li>
            </ul>
          </div>
         </nav>
         <div class="redes">
           <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
            <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
         </div>
     
    </header>

    <div class="bodyContactenos">
        <h2>RECUPERACIÓN DE CONTRASEÑA</h2>
        <hr>

        <label class="label_formulario">SU VALIDACIÓN FUÉ EXITOSA</label><br><br><br><br>

       <form class="formulario" method="post" >
        <label class="label_formulario">NUEVA CONTRASEÑA</label><br>
        <input type="password" class="input_formulario" name="nuevaContraseña" required><br><br>
        <input type="submit" class="boton_enviar" name="boton_nueva_contraseña" value="ENVIAR"> 
    </form>
        </div>

        
        
      

    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
   <script type="text/javascript" src="../static/js/menu_movil.js"></script>
</body>
</html>