<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/estilos.css">
  </link>
  <title>SuperAdministrador</title>
</head>

<body>
  <div class="EscritorioPaginasWeb">
    <header>
      <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
      <nav id="barra_menu">

        <div class="ulMovil">
          <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png"></div>
          <ul class='ulM'>
            <li><a href="/">INICIO</a></li>
            <li><a href="/consultar">CARTELERA</a></li>
            <li><a href="/nosotros">NOSOTROS</a></li>
            <li><a href="/contactos">CONTÁCTENOS</a></li>
            <li><a href="/sesion">INICIA SESIÓN</a></li>
            <li><a href="/registrar">REGISTRATE</a></li>
            <li><a href="/panel_admin">ADMIN</a></li>
          </ul>
        </div>
      </nav>
    </header>


    <div class="contenidoBody">

      <h1>Bienvenido: SuperAdminstrador</h1>
      <hr>

      <div class="panel">
        <a href="/crud">
          <div class="panel_gestionar" id="g1">Gestionar <br>Peliculas</div>
        </a>
        <a href="/crudUsuario">
          <div class="panel_gestionar" id="g2">Gestionar <br>Usuarios</div>
        </a>
        <a href="/crudAdministrador">
          <div class="panel_gestionar" id="g3">Gestionar <br> Administradores</div>
        </a>
        <a href="/crudComentarios">
          <div class="panel_gestionar" id="g4">Comentarios</div>
        </a>
        <a href="/crudContactos">
          <div class="panel_gestionar" id="g5">Solicitudes de Usuarios</div>
        </a>
      </div>
    </div>

    <footer>
      <p class="contenido_piePagina">Contenido del sitio 2022© <br>
        Derechos Reservados Stark Cinemas® <br>
        Desarrollado por Min Tic Grupo 4<br>
      </p>
    </footer>
  </div>
  <div class="MovilPaginasWeb" >
    No disponible para dispositivos moviles, para visualizar debes ingresar desde un computador
  </div>
</body>

</html>