<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilos.css"></link>
    <link rel="icon" type="image/x-icon" href="../static/img/iconoCine.png">
    <link href="../static/aos/aos.css" rel="stylesheet">
    <title>Terminos</title>
</head>
<body>
  <header>
    <div class="menu"><img src="../static/img/menu.png" width="40px;"></div>
    <div class="titulo">Stark Cinemas</div>
    <nav id="barra_menu">
    
      <div class="ulMovil">
        <div class="menu"><img class="imagenCerrar" src="../static/img/botonCerrar.png" ></div>
        <ul class='ulM'>
            <li class='ulLi'><a href="/">INICIO</a></li>
            <li class='ulLi'><a href="/consultar">CARTELERA</a></li>
            <li class='ulLi'><a href="/nosotros">NOSOTROS</a></li>
            <li class='ulLi'><a href="/contactos">CONTÁCTENOS</a></li>
            <li class='ulLi'><a href="/sesion">INICIA SESIÓN</a></li>
            <li class='ulLi'><a href="/registrar">REGISTRATE</a></li>
        </ul>
      </div>
     </nav>
     <div class="redes">
       <a href="https://www.facebook.com/" target="_blank" ><img id="facebook" src="../static/img/facebook.png"></a>
        <a href="https://twitter.com/" target="_blank"> <img id="twitter" src="../static/img/twitter.png"></a>
     </div>
 
</header>
   

    <div class="contenidoBody" data-aos="fade-up" data-aos-duration="3000">
        
      <div class="div_terminos">
        <h1 class="h1_terminos">Terminos y Condiciones</h1>
        <p class="parrafo_terminos">
          Estos términos y condiciones de uso (en adelante, los " TÉRMINOS Y CONDICIONES") regulan el acceso y uso del portal web 
          Al acceder al PORTAL, el USUARIO manifiesta haber leído, comprendido y aceptado los TÉRMINOS Y CONDICIONES, y declara cumplir con todas las leyes y reglamentos que sean aplicables. Si no está de acuerdo con ellos, el USUARIO tiene la opción de no continuar navegando en el PORTAL.
          I.    DEFINICIONES
          Los términos listados a continuación tendrán el significado que se les asigna en la presente sección o el que se les asigne en cualquier otro aparte de estos TÉRMINOS Y CONDICIONES, sea que el término se emplee en singular o plural, en masculino o femenino:<br>
          1.1.    “STARK CINEMAS sociedad comercial con NIT. 900.100.600-9.<br>
          1.2.    “CONTENIDOS”: Tiene el significado que se le asigna en la Sección 5.1 de los presentes TÉRMINOS Y CONDICIONES. <br>
          1.3.    “PORTAL”: Corresponde a la página web de propiedad de STARK CINEMAS, 1.4.    “TARJETA STARK CINEMAS”: Medio de pago recargable exclusivo de STARK CINEMAS con el cual los clientes de STARK CINEMAS pueden: (i) comprar a precios especiales los productos y/o servicios disponibles en cualquiera de los puntos de venta de STARK CINEMAS a nivel nacional; y (ii) obtener puntos redimibles por premios de STARK CINEMAS.<br> 
          1.5.    “TARJETA PLATINO”: Medio de pago recargable exclusivo de STARK CINEMAS con el cual los clientes que sean catalogados por STARK CINEMAS como platino pueden: (i) comprar a precios especiales los productos y/o servicios disponibles en cualquiera de los puntos de venta de STARK CINEMAS a nivel nacional; y (ii) obtener puntos redimibles en premios de STARK CINEMAS. <br>
          1.6.    “USUARIO”: Toda persona natural o jurídica que haga uso del PORTAL. Los niños, niñas y adolescentes menores de edad, podrán ser USUARIOS del PORTAL, siempre y cuando actúen a través de, o estén debidamente autorizados por sus padres o por su representante legal.
          II.    ACCESO AL PORTAL<br>
          2.1.    El acceso al PORTAL tiene carácter gratuito para el USUARIO y no exige suscripción o registro previo. Sin embargo, algunas funcionalidades requerirán registro, o validación del mismo, por parte del USUARIO en el PORTAL, lo cual será debidamente comunicado. <br>
          Adicionalmente, STARK CINEMAS podrá, en cualquier momento y a su discreción, cobrar al USUARIO por el uso y/o acceso al PORTAL y/o a cualquiera de sus servicios, lo cual será debidamente comunicado a los USUARIOS por parte de STARK CINEMAS. <br>
          2.2.    Para el registro en el PORTAL será necesario que el USUARIO proporcione sus datos personales de contacto (incluyendo, entre otros, sus nombres y apellidos, cédula, número de teléfono móvil y correo electrónico).<br>
           
          El USUARIO deberá brindar datos veraces y completos y, para registrarse en el PORTAL, deberá autorizar a STARK CINEMAS a darles tratamiento de conformidad con lo establecido en su Política de Privacidad y Protección de Datos Personales y en la Ley 1581 de 2012 y demás normas complementarias.
          En todo caso, el USUARIO, como titular de sus datos personales, tendrá los derechos que para estos efectos le otorgue la ley, incluyendo: (i) conocer, actualizar y rectificar sus datos personales, así como oponerse al tratamiento de los mismos; (ii) solicitar prueba de su autorización para tratar datos personales; (iii) ser informado del uso que se le ha dado a sus datos personales; (iv) presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la Ley 1581 de 2012 y demás normas que la modifiquen, adicionen o complementen; (v) revocar la autorización y/o solicitar la supresión de sus datos; y (vi) acceder en forma gratuita a sus datos personales.<br>
          2.3.    STARK CINEMAS se reserva el derecho de cancelar y/o suspender, en cualquier momento y sin previo aviso, el acceso al PORTAL, y/o los servicios relacionados y ofrecidos en el mismo.<br>
          2.4.    Todo USUARIO que pretenda acceder y/o utilizar los servicios ofrecidos por STARK CINEMAS en el PORTAL, deberá cumplir en todo con estos TÉRMINOS Y CONDICIONES.<br>
          III.    MODIFICACIONES<br>
          3.1.    STARK CINEMAS se reserva el derecho a modificar estos TÉRMINOS Y CONDICIONES en cualquier momento y sin previo aviso. Toda modificación entrará en vigencia y tendrá efectos frente a los USUARIOS desde el momento de su publicación en el PORTAL. En consecuencia, el USUARIO deberá revisar estos TÉRMINOS Y CONDICIONES cada vez que acceda al PORTAL.<br>
          3.2.    Asimismo, los avisos, reglamentos, circulares o instrucciones de cualquier naturaleza expedidas por STARK CINEMAS, publicadas en el PORTAL, y relacionadas de cualquier forma con el acceso, navegación o uso del mismo, o con el acceso y uso de los productos y/o servicios que en este se ofrecen, serán parte integral de estos TÉRMINOS Y CONDICIONES.<br>
          IV.    CORRECTO USO DEL PORTAL <br>
          4.1.    El USUARIO se abstendrá de utilizar el PORTAL con fines o efectos ilícitos, o lesivos de los derechos e intereses de STARK CINEMAS y/o de terceros, o de realizar actos que, de cualquier forma, puedan dañar, inutilizar, sobrecargar, deteriorar o impedir el normal funcionamiento del PORTAL.<br>
          4.2.    El USUARIO es responsable por mantener la confidencialidad de sus datos personales registrados en el PORTAL, particularmente aquella relacionada con la cuenta y con contraseña de acceso. STARK CINEMAS no será responsable, en ningún caso, por el uso no autorizado o indebido de la cuenta, contraseña y/o medios de pago cuya información esté almacenada en la pasarela de pagos utilizada por el USUARIO.<br>
          
        </p>
      </div>

      


    </div>

    <footer>
        <p class="contenido_piePagina">Contenido del sitio 2022© <br>
          Derechos Reservados Stark Cinemas® <br>
          Desarrollado por Min Tic Grupo 4<br>
        </p> 
    </footer>
    
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/menu_movil.js"></script>
    <script src="../static/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>